.ButtonAddAction {
   display: block;
   padding: 24px 16px;
   width: 100%;

   border: none;
   outline: none;
   background: none;

   border: 1px solid transparent;
   border-radius: 8px;

   font-size: 2rem;
   color: #808080;

   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;

   &:active,
   &:hover,
   &.editmode {
      background: #80808026;
      border: 1px dashed #808080;
   }

   &:active {
      background: #8080806c;
   }

   &.editmode {
      text-align: center;
   }
}
