.EditTasks {
   height: 100%;

   .button-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
   }

   .button-list:not(:last-child),
   .button-list:not(.bottom) > *:not(:last-child) {
      margin-bottom: 8px;
   }
}
