.OverlayAddAction {
   > *:not(:last-child) {
      margin-bottom: 16px;
   }

   input[type="text"] {
      display: block;
      width: 100%;

      border: none;
      outline: none;

      font-size: 1rem;
      padding: 4px 2px;

      border-bottom: 2px solid #c0c0c0;

      &:focus,
      &:not(:placeholder-shown) {
         border-bottom: 2px solid rgb(34, 206, 197);
      }
   }

   .overlay-action {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      padding-top: 16px;

      > * {
         padding: 8px 16px;
         margin-left: 8px;
      }
   }
}
