.PageOverlay {
   position: fixed;
   top: 0;
   bottom: 0;
   left: -110vw;
   width: 100vw;
   height: 100vh;
   max-height: 100vh;

   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: stretch;
   overflow: hidden;

   background-color: #fff;

   animation: slide-in 0.2s forwards;

   &.slide-out {
      animation: slide-out 0.2s forwards;
   }

   > div {
      padding: 4px;
   }

   > div:first-child {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      color: #fff;
      background-color: #00f;

      > *:not(:last-child) {
         margin-right: 8px;
      }

      button {
         border: none;
         outline: none;
         background: none;
         color: #fff;
      }
   }
}

@keyframes slide-in {
   0% {
      left: -110vw;
   }
   100% {
      left: 0;
   }
}

@keyframes slide-out {
   0% {
      left: 0;
   }
   100% {
      left: -110vw;
   }
}
