.app {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   max-height: 100vh;
   overflow: hidden;

   padding: 24px 0;

   > *:not(:last-child) {
      margin-bottom: 24px;
   }
}

.fullscreen-overlay {
   position: fixed;
   top: 0;
   bottom: 0;
   left: -110vw;
   width: 100vw;
   height: 100vh;
   max-height: 100vh;

   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: stretch;
   overflow: hidden;

   background-color: #fff;

   transition: left 0.2s;

   &.slide-in {
      left: 0;
   }

   .top {
      overflow-y: auto;
   }

   .bottom {
      display: flex;
      flex-direction: row;

      button:not(:last-child) {
         margin-right: 8px;
      }
   }

   > div {
      padding: 4px;
   }
}

button.text-button {
   background: none;
   border: none;
   border-radius: 8px;
   outline: none;
}
button.text-button:hover {
   background: rgba(0, 0, 0, 0.25);
}

.button-list:not(:last-child),
.button-list:not(.bottom) > *:not(:last-child) {
   margin-bottom: 8px;
}

.overlay {
   padding: 24px 16px;
   background: #fff;
   width: 95%;
   border-radius: 16px;
}
