* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.app {
   padding: 8px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: stretch;
   height: 100vh;
}

.button-list:not(:last-child),
.button-list > *:not(:last-child) {
   margin-bottom: 8px;
}
