.app {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   max-height: 100vh;
   overflow: hidden;

   color: #fff;
   background-color: #00f;

   padding: 24px 0;

   > *:not(:last-child) {
      margin-bottom: 24px;
   }
}

.Mainmenu {
   max-width: 80vw;
   width: 500px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   > button {
      width: 100%;
      padding: 16px 24px;
   }
}

.overlay {
   padding: 24px 16px;
   background: #fff;
   width: 95%;
   border-radius: 16px;
}
