.GenericButton {
   position: relative;

   display: block;
   padding: 24px 16px;
   width: 100%;

   border: none;
   outline: none;
   background: none;

   border-width: 1px;
   border-style: solid;
   border-radius: 8px;

   font-size: 2rem;

   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;

   &.quater {
      width: 25%;
   }

   &.half {
      width: 50%;
   }

   &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      display: block;
      border-radius: 8px;
      opacity: 0;
   }

   &:hover::before {
      background-color: currentColor;
      opacity: 0.2;
      transition: opacity .5s;
   }
}
