.TimeTracker {
   display: block;
   padding: 24px 16px;
   width: 100%;

   border: none;
   outline: none;
   background: none;

   border: 1px solid blue;
   border-radius: 8px;

   font-size: 2rem;
   color: blue;

   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

.TimeTracker.small {
   width: 33%;
}

.TimeTracker:hover {
   background: #0000ff26;
}

.TimeTracker.selected {
   color: white;
   background: blue;
}

.TimeTracker.selected:hover {
   background: #0000ffd9;
}
